<!--https://prezi.com/cookie-policy/-->
<section class="section">
  <div class="columms">
    <div class="column is-10 is-offset-1 content">
      <button type="button" class="button is-primary" [routerLink]="['/start']">
        back to retro
      </button>

      <h1>Privacy Policy</h1>
      <p>
      Thank you for using <strong>retro</strong>.
      In the following sections we explain, what is happening with your provided data on our servers.
      </p>
      <h2>
        How is your data stored on our servers?
      </h2>
      <p>
      The application data is stored in memory.
      No session data is persisted on our servers, except for the server logs (<a href="#logging">see logging section below</a>).
      </p>

      <h2>
        How is your data used?
      </h2>
      <h3>
        Creating a session
      </h3>
      <p>
      When you hit on the "Create Session" button on the start screen, a new session is created on the server.
      The session is created with
      </p>
      <ul>
        <li>a uniqe identifier (uuid) to identify your session </li>
        <li>a participant, which is marked as you as the creator of the session </li>
      </ul>
      <p>
      At this point you are alone in the session.
      You can create content as you like.
      As a creator you can update or delete your own content, and the content of your participants.
      </p>
      <h3>Entering a session</h3>
      <p>
      When you have obtained a session id from a friend,
      and click on the "Enter session" button,
      you are added to the session with
      </p>
      <ul>
        <li>A uniqe identifier (uuid), which identifies you as a user of the session</li>
      </ul>
      <p>
      From that moment on, you can see the contribution of other participants.
      You can edit or delete your own content.
      </p>
      <h3>
        Leaving a session
      </h3>
      <p>
      You can leave a session at any time.
      When you hit the button "Leave retro session", your user will be deleted from the <strong>retro</strong> session.
      Your contributions will remain until the session ends.
      You can delete your content before leaving.
      </p>
      <p>
      If you are the creator of the session, <strong>all session data will be deleted.</strong>
      </p>

      <h3>State your name</h3>
      <p>
      When you adding new content to the <strong>retro</strong> session your contribution is labeled as "anonymous" by default.
      With pushing the button "If you like, state your name" you can overide this default behaviour.
      After entering your name, your provided content will be labeled with your given name.
      </p>

      <h3>Make a contribution</h3>
      <p>
      When you are entering something in one of the top textboxes, your content will become part of the session.
      An entry consists of
      </p>
      <ul>
        <li>uniqe identifier (uuid)</li>
        <li>your typed content</li>
        <li>the rendered content, which is generated by the application</li>
        <li>the entry kind, one of
          <ul>
            <li>start doing</li>
            <li>stop doing</li>
            <li>continue doing</li>
            <li>less of</li>
            <li>more of</li>
          </ul>
        </li>
        <li>your participant id</li>
        <li>your name (if provided)</li>
      </ul>

      <h3>Session lifetime</h3>
      <p>
      A participant hits on the "Create Session" button.
      From this time on, the reto session exist.
      When no participant contributes to the session for at least two hours, the session will be deleted.
      </p>

      <h2 id="logging">Logging</h2>
      <p>
      Every time a request is send to our server, a log entry is written.
      The log entry contains the following information
      </p>
      <ul>
        <li>Date and time</li>
        <li>Requested Url</li>
        <li>Http response code</li>
        <li>Transfered data in bytes</li>
      </ul>
      The logs contains only data about <strong>what</strong> has happened.

      <h2>Localy stored data</h2>
      <p>
      This application stores two kinds of information in the local storage of your browser.
      </p>

      <h3>hasPermissionToSetCookies</h3>
      <p>
      If this cookie is set, <strong>retro</strong> has the permission to save a token to local storage
      You give the permission to save all neccesary application data, when you are creating or entering a session.
      </p>
      <p>
      You can revoke this permission, by hitting the following button.
      </p>
      <p>
      <button class="button is-primary" (click)="revokeCookieSettings()">Revoke permission to set cookies</button>
      </p>
      <p>
      The "hasPermissionToSetCookies" cookie and the "token" cookie will be deleted.
      </p>
      <p>
      If you are the creator of the session, a <strong>running session will be deleted as well.</strong>
      There is <strong>no way</strong> to get the session data back.
      </p>
      <h3>token</h3>
      <p>
      Every participant get's a token with
      </p>
      <ul>
        <li>the session id</li>
        <li>the participant id</li>
        <li>a boolean value which indicates, if you are the creator of the session, or not.</li>
      </ul>
      <p>
      The token is stored as a JWT.
      </p>
      <p>
      Take this example token
      </p>
      <pre>eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJyZXRybyIsImV4cCI6MTU5MDQwMjgxMywiaWF0IjoxNTg3OTgzNjEzLCJpc3MiOiJyZXRybyIsImp0aSI6ImRhYjdjMzM2LTZhYTUtNDZlZi05MjQ3LWIwZGJlYzVhMDZhMCIsIm5iZiI6MTU4Nzk4MzYxMiwic3ViIjp7ImlzX2NyZWF0b3IiOnRydWUsInNlc3Npb24iOiJmODE4YzJhOS0wY2FjLTQ4ZmItOGM4MC1kODQ4ZWViOTcwNzgiLCJ1c2VyIjoiNzhhZjE1ZjYtOTI1NS00YTVkLWE3MDQtMzZhNDRkMDA4NzA2In0sInR5cCI6ImFjY2VzcyJ9.G5caXZguL9xW58m7bpynFCTbkA4sy1kx47aHAOAhJ7Zx45wQrSyMI8-282ZtlRUJykArKwQAteP66MyaHeekow</pre>
      <p>
      You can decode this token by visiting <a href="https://jwt.io">jwt.io</a>.
      The content of this token is
      </p>
      <pre>{{sampleToken | json}}</pre>
    </div>
  </div>
</section>
